---
interface Props {
  url: string;
  alt: string;
}

const { url, alt } = Astro.props;
---

<div class="mt-4">
  <img src={url} alt={alt} class="w-full max-w-md h-auto rounded-lg shadow-sm" loading="lazy" />
</div>
