---
interface Link {
  url: string;
  label: string;
}

interface Props {
  items: Link[];
  title: string;
}

const { items } = Astro.props;
---

<nav>
  <ul class="link-list" role="list">
    {
      items.map((item) => (
        <li class="link-list-item">
          <a href={item.url} class="hover:text-primary" target="_blank" rel="noopener noreferrer">
            {item.label}{" "}
            <span aria-hidden="true" class="list-link-arrow">
              ↗
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
