---
interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<ul class="flex flex-wrap gap-[4px] mt-4">
  {
    items.map((item) => (
      <li>
        <span class="pill">{item}</span>
      </li>
    ))
  }
</ul>
