---
interface Props {
  content: string;
}

const { content } = Astro.props;

const paragraphs = content.split("\n\n");
---

<div class="space-y-4 text-foreground text-base max-w-prose prose prose-sm prose-invert">
  {paragraphs.map((paragraph) => <p>{paragraph}</p>)}
</div>
