---
import Layout from "../layouts/layout-base.astro";
import { Logo } from "@/components/ui/logo";
import { OnboardingSteps } from "@/components/page/onboarding/steps";

import { getCurrentSession, type SessionDisplay } from "@/lib/dal";

let sessionData: SessionDisplay | null = await getCurrentSession();

if (!sessionData) {
  throw new Error("Session data not found");
}

if (sessionData.profile.is_onboarded) {
  return Astro.redirect("/dashboard");
}
---

<style>
  .hero {
    --bg-url: url("../assets/bg-mobile.jpg");
    color: var(--primary-foreground);
    background-image: linear-gradient(-180deg, oklch(0.6499 0.1883 257.88 / 0) 75%, oklch(0.6499 0.1883 257.88 / 0.75)),
      linear-gradient(to bottom, oklch(0.2221 0 0 / 1) 50%, oklch(0.2221 0 0 / 0)), var(--bg-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: 40rem) {
      --bg-url: url("../assets/bg.jpg");
      background-image: linear-gradient(
          -160deg,
          oklch(0.6499 0.1883 257.88 / 0) 50%,
          oklch(0.6499 0.1883 257.88 / 0.75)
        ),
        linear-gradient(to bottom, oklch(0.2221 0 0 / 0.95) 10%, oklch(0.2221 0 0 / 0)),
        linear-gradient(to bottom, oklch(0.2221 0 0 / 0.9) 40%, oklch(0.2221 0 0 / 0.5)), var(--bg-url);
    }
  }
</style>

<Layout title="Complete Your Profile">
  <div class="min-h-[100vh] lg:grid lg:grid-cols-2 relative">
    <div class="relative">
      <div class="max-h-screen hero grid place-items-center fixed w-1/2 h-screen top-0 left-0">
        <div class="space-y-3">
          <Logo className="text-2xl sm:text-5xl" />
          <p class="text-background/86">
            Say <span class="font-mono">“</span>hello world<span class="font-mono">”</span> with us today!
          </p>
        </div>
      </div>
    </div>
    <div class="p-24 bg-background">
      <OnboardingSteps client:load userId={sessionData.user.id} />
    </div>
  </div>
</Layout>
