---
import { Image } from "astro:assets";

import { Button } from "@/components/ui/button";
import { Logo } from "@/components/ui/logo";
import { Callout } from "@/components/ui/callout";
import { Card } from "@/components/page/marketing/card";
import { Footer } from "@/components/ui/footer";

import "../styles/marketing.css";

import editPortfolio from "@/assets/edit-portfolio.webp";
import publishPortfolio from "@/assets/publish.webp";
import prepareData from "@/assets/prepare-data.webp";
import portfolio from "@/assets/portfolio.webp";
---

<div class="hero px-page">
  <div class="container mx-auto">
    <nav class="py-6 sm:py-12 flex justify-between items-center">
      <Logo />

      <div>
        <Button variant="ghost" className="hidden sm:inline-block">Sign up</Button>
        <Button variant="glass">Log in</Button>
      </div>
    </nav>

    <header class="space-y-3 pt-8 xs:pt-24 max-w-md sm:max-w-2xl">
      <Callout className="mb-4">For busy devs</Callout>

      <h1 class="text-4xl xs:text-5xl sm:text-7xl font-semibold leading-tight text-balance">
        Turn your projects into a portfolio!
      </h1>
      <p class="opacity-body text-lg leading-relaxed sm:text-xl mb-5 sm:mb-8">
        Connect GitHub and LinkedIn, and we’ll turn your data into a beautiful, ready-to-share portfolio with zero
        effort.
      </p>

      <Button variant="default" size="lg">Get started</Button>
    </header>
  </div>
</div>

<section class="py-12 lg:py-24 px-page">
  <div class="container mx-auto">
    <Callout className="mb-3">3 simple steps</Callout>

    <div class="max-w-md">
      <h2 class="text-3xl xs:text-4xl font-semibold mb-3">How it works?</h2>

      <p class="opacity-body mt-1 mb-12 text-lg">
        We deliver a fast, seamless experience powered by AI and an editor built for great UX.
      </p>
    </div>

    <div class="grid gap-4 lg:grid-cols-3">
      <Card
        title="Import your data"
        description="Connect GitHub and LinkedIn to get your developer portfolio ready in minutes."
        step={1}
        image={prepareData}
      />
      <Card
        title="Customize your style"
        description="Personalize your portfolio with our smooth drag-and-drop editor."
        step={2}
        image={editPortfolio}
      />
      <Card
        title="Go live instantly"
        description="Publish and share your portfolio with the world in just a few clicks."
        step={3}
        image={publishPortfolio}
      />
    </div>
  </div>
</section>

<section class="bg-white py-12 lg:py-24 px-page">
  <div class="container mx-auto grid gap-24 lg:grid-cols-2">
    <div class="mb-12 max-w-md sm:mb-0">
      <h2 class="text-3xl xs:text-4xl font-semibold mb-3">Ready to get started?</h2>
      <p class="opacity-body mb-4 text-lg">
        Join thousands of developers who've already created their professional portfolios with <span class="font-mono"
          >Hacker</span
        >folio.
      </p>

      <Callout className="mb-6">No credit card required.</Callout>

      <Button variant="dark" className="mb-10">Get portfolio now</Button>

      <ul class="list-checkmark list-inside">
        <li class="text-sm text-foreground/80">Fast, reliable and easy to use</li>
        <li class="text-sm text-foreground/80">Do not waste time on design</li>
        <li class="text-sm text-foreground/80">Focus on what matters</li>
      </ul>
    </div>
    <Image src={portfolio} alt="Preview of example portfolio" class="ms-auto" />
  </div>
</section>

<Footer />
